
    <div class="d-flex justify-content-center align-content-center align-items-center mb-3" style="height:400px">
    
        <div class="card shadow-lg p-2" >
            
            <span class="card-img-top">
                <div class="d-flex justify-content-center align-content-center align-items-center mb-3">
                    <%= image_tag("radiation.jpg", height: "180") %>
                    <div class="d-flex flex-column">
                        <strong class="font-weight-bold text-capitalize">Radioactivity<br>On Rails</strong>
                        <small class="font-italic">ULB Erasme Cyclotron Biomedical</small>
                    </div>
                </div>
            </span>
            
            <div class="card-body">
                <p>
                    You do not have access to this page. If you are looking for a reference, <br>
                    check the URL or the Reference Number you typed. For more help, <br>
                    please contact the administrator below.
                </p>
                <h4 class="card-title text-capitalize">John Van Naemen</h4>
                <p class="card-text">
                    <code>John.VanNaemen@erasme.ulb.ac.be</code>
                </p>
            </div>
        </div>
    </div>
