<div class="container-fluid" style="margin-top:80px">
    <div class="d-flex justify-content-center align-content-center align-items-center mb-3">
        <%= image_tag("radiation.jpg", height: "180") %>
        <div class="d-flex flex-column">
            <h1>Radioactivity<br>On Rails</h1>
            <p>ULB Erasme Cyclotron Biomedical</p>
        </div>
    </div>
</div>